.aC-cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    
}

.aC-cardContainer h3{
    padding-bottom: 1rem;
    font-family: Urbanist;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 900;
}

.aC-img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.ac-cardText {
    text-align: center;
    
    background-color: #e7e0da;
    
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #000;
    font-family: Urbanist;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .ac-ctss {
    display: flex;
    flex-direction: row;
}

